<!doctype html>
<html>
<head>
    <title>My to do list</title>
</head>

<body>

     <!---HTML-->
    <div class="container"></div>

    <!--Templates-->
    <script type = "text/template" id = "todo-template">
        <fieldset>
            <label><%= title %></label>
            <label><%= completed %></label>
        </fieldset>
    </script>

    <script type = "text/template" id = "todosCollection-template">
        <h1>My todo list</h1>   
        <hr />
        <fieldset>
        <input type="text" id="title-input">
        <input type="button" id="add-button" value="Add">
        </fieldset>
        <div class = "todos">
        </div>
    </script>

	<!--Includes-->
	<script type="text/javascript" src="js/libs/jquery/jquery-min.js"></script>
	<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
	<script type="text/javascript" src="http://backbonejs.org/backbone.js"></script>

	<script type="text/javascript" src="js/AppModule.js"></script>
	<script type="text/javascript" src="js/models/todoModel.js"></script>
	<script type="text/javascript" src="js/collections/todosCollection.js"></script>
	<script type="text/javascript" src="js/router.js"></script>
    <script type="text/javascript" src="js/views/todoView.js"></script>
    <script type="text/javascript" src="js/views/todosCollectionView.js"></script>

    <script type = "text/javascript">
    	
    var todoRouter = new App.TodoRouter();
    Backbone.history.start();

    </script>

</body>
</html>