<!DOCTYPE HTML">
<html>
<head>
    <title>My to do list</title>
</head>

<body>

     <!---HTML-->
    <div class="container" style="width:400px"></div>

    <!--Templates-->
    <script type="text/template" id="page-template">
        <h1>My todo list</h1>   
        <hr />
        <div class="notification-area" style="display:none"></div>
        <div class="newTodo-area"></div>
        <div class="todosCollection-area"></div>
        <hr />
        <div class="status-area"></div>
    </script>
    
    <script type= "text/template" id= "newTodo-template">
            <fieldset>
                <input type="button" id="checkAll-button" value="V">
                <input type="text" id="title-input">
                <input type="button" id="add-button" value="Add">
            </fieldset>
    </script>

    <script type= "text/template" id= "todo-template">
        <div class="todoView">
            <fieldset>
                <input type="checkbox" class="check-button" <% print( completed ?  'checked' : '') %> >
                <label class="title-label" style="text-decoration:none;"><%= title %></label>
                <input type="button" style="visibility:hidden" class="delete-button" value="x">
            </fieldset>
        </div>
    </script>

    <script type="text/template" id="todosCollection-template">
        <div class = "todos">
        </div>
    </script>

    <script type="text/template" id="notification-template">
        <fieldset>
            <label id="notification-text"><%= title %>
            <input type="button" class="undo-button" value="Undo">
        </fieldset>
    </script>

    <script type="text/template" id="status-template">
        <label id="activeTodosNr-text"><% print( 'Remaining (' + remainingTodosNr +')' ) %></label>
        <input type="button" class="all-button" value="All">
        <input type="button" class="active-button" value="Active">
        <input type="button" class="completed-button" value="Completed">
        <label id="completedTodosNr-text"><%  print( completedTodosNr > 0 ? 'Completed (' +  completedTodosNr +')' : '' ) %></label>
    </script>

	<!--Includes-->
	<script type="text/javascript" src="js/libs/jquery/jquery-min.js"></script>
	<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
	<script type="text/javascript" src="http://backbonejs.org/backbone.js"></script>

	<script type="text/javascript" src="js/appModule.js"></script>
    <script type="text/javascript" src="js/router.js"></script>

	<script type="text/javascript" src="js/models/todoModel.js"></script>
    <script type="text/javascript" src="js/models/notificationModel.js"></script>
    <script type="text/javascript" src="js/models/StatusModel.js"></script>
	
    <script type="text/javascript" src="js/collections/todosCollection.js"></script>

    <script type="text/javascript" src="js/views/todoView.js"></script>
    <script type="text/javascript" src="js/views/todosCollectionView.js"></script>
    <script type="text/javascript" src="js/views/newTodoView.js"></script>
    <script type="text/javascript" src="js/views/pageView.js"></script>
    <script type="text/javascript" src="js/views/notificationView.js"></script>
    <script type="text/javascript" src="js/views/statusView.js"></script>

    <script type = "text/javascript">
    
    var todoRouter = new App.TodoRouter();
    //var collection = new TodoCollection();
    // App.todoService = new TodoService(collection);
    Backbone.history.start();

    </script>

</body>
</html>